.SpaceNews {
	margin-top: 10%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
}

.SpaceNews-title {
	font-weight: 800;
	font-size: 65px;
	margin-top: 0%;
}

.SpaceNews-title:hover {
	color: palegoldenrod;
	cursor: pointer;
}

.Card-content {
	height: 14rem;
}

@media (max-width:600px) {
	.SpaceNews-title {
		margin-top: 21%;
		font-size: 35px;
	}

	.Card-content {
		height: 100%;
	}
}